* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-y: hidden;
}
.game-container {
  position: relative;
  width: 800px;
  height: 100vh;
  margin: 0 auto;
}
.road-container {
  position: absolute;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  inset: 0;
  z-index: -2;
}
.road {
  position: absolute;
  display: block;
  width: 800px;
  height: 641px;
  display: flex;
}
#road-1,
#road-2 {
  top: 0;
  object-fit: cover;

  width: 400px;
}

#road-1 {
  left: 0;
}
#road-2 {
  right: 0;
  transform: scaleX(-1);
}
#player-car {
  transform: rotate(270deg);
  width: 200px;
  position: absolute;
  display: none;
  /* bottom: 10%; */
}
.random-car {
  transform: rotate(90deg);
  width: 200px;
  position: absolute;
}
#random-car-2 {
  transform: rotate(270deg);
}

.message {
  position: fixed;
  z-index: 10;
  height: 10vh;
  font-size: 10vh;
  font-weight: 100;
  color: rgb(255, 238, 0);
  bottom: 12vh;
  left: 24vw;
  width: 50vw;
  text-align: center;
}
.score {
  top: 0;
  left: 0;
}
.highest-score,
.score {
  position: fixed;
  z-index: 10;
  height: 10vh;
  font-size: 10vh;
  font-weight: 100;
  color: goldenrod;
}

.score_val {
  color: gold;
}

.gold-coin {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
}
